# OSX
#
.DS_Store

# JetBrains
#
build/
.idea
*.iml

# node.js
node_modules/
npm-debug.log
yarn-error.log

#Visual Studio Code
.vscode

# Eslint
.eslintrc

#dev config
.eslintrc.json
package-lock.json

# coverage
coverage/
.nyc_output/
